# Copyright (c) 2014, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
{% if ansible_os_family == 'RedHat' %}
socket          = /var/lib/mysql/mysql.sock
{% else %}
socket          = /var/run/mysqld/mysqld.sock
{% endif %}
log-error       = /var/log/mysql/error.log
datadir         = {{ mysql_data_dir | default('/var/lib/mysql') }}
server-id       = {{ bind_address.split('.')[-2] + bind_address.split('.')[-1] }}
# By default we only accept connections from localhost
bind-address    = 0.0.0.0
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links  = 0

innodb_buffer_pool_size = {{ (ansible_memtotal_mb * innodb_buffer_pool_size_percent * 1024 * 1024) | int }}

{% for item in mysql_mysqld_config  | sort(attribute='k') %}
{% if item.v is not defined %}
{{ item.k }}
{% else %}
{{ item.k }} = {{ item.v }}
{% endif %}
{% endfor %}
