{
  "services": [
    {
      "name": "mysql",
      "address": "",
      "port": {{ mysql_port }},
      "enable_tag_override": true,
      "tags": [{{ group_names | quote | join(,) }}],
      "checks": [
        {
          "tcp": "{{ bind_address }}:{{ mysql_port }}",
          "interval": "10s",
          "timeout": "3s"
        }
      ]
    }
  ]
}
