{% if 'masters' in group_names %}

{% for item in groups['masters'] if item != inventory_hostname %}
server {{ hostvars[item]['bind_address'] }}
{% endfor %}
local stratum 8 orphan
manual
initstepslew 1 {% for item in groups['masters'] if item != inventory_hostname %}{{ hostvars[item]['bind_address'] }} {% endfor %}

{% else %}

{% for item in groups['masters'] %}
server {{ hostvars[item]['bind_address'] }} iburst
{% endfor %}

makestep 1.0 3

{% endif %}

allow {{ bind_network }}/24
driftfile /var/lib/chrony/drift
rtcsync
